/* FLEXBOX UTILITY BELT */

.flex {
  display:flex;
}
.column {
  flex-direction:column;
}
.wrap {
  flex-wrap:wrap;
}
.justify-center {
  justify-content:center;
}
.justify-end {
  justify-content:flex-end;
}
.justify-between {
  justify-content:space-between;
}
.justify-around{
  justify-content:space-around;
}
.align-start{
  align-items:flex-start;
}
.align-center{
  align-items:center;
}
.align-end{
  align-items:flex-end;
}
.align-baseline{
  align-items:baseline;
}
.content-start {
  align-content:flex-end;
}
.content-center {
  align-content:center;
}
.content-end {
  align-content:flex-end;
}
.content-between {
  align-content:space-between;
}
.content-around{
  align-content:space-around;
}
.order-1{
  order:1;
}
.grow-1{
  flex-grow:1;
}
.shrink-2{
 flex-shrink:2; 
}
